/* web variables */
:root{
    --rosewood: #720b174e;
    --sienna: #330a0c88;
    --copper: #8d5206;
    --shadow: #facfad;
    --bone: #E4D9C9;

    --headingFont: Consolas;
    --headingFont2: Corbel;
    --normalFont: Book Antiqua;
}

body {
    background-color: var(--copper);
}

#main_title {
    font-family: var(--headingFont);
    color: var(--bone);
    font-size: 90px;
    text-shadow: 5px 2px var(--sienna);
    margin: 40px;
    text-align: center;
}

#page {
    display: flex;
}

#interactive_guitar{
    margin-left: 0px;
    margin-right: 50px;
    height: 100vh;
    width: 20vw;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--sienna);
}

/* actual image of guitar on left */
#interactive_guitar img {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 20vw;
}

/* color changing animation for strings */
@keyframes strings {
    0%   {background-color:rgb(217, 214, 214);}
    25%  {background-color:rgb(254, 11, 11);}
    50%  {background-color:rgb(170, 255, 1);}
    75%  {background-color:rgb(30, 0, 255);}
    100% {background-color:rgb(251, 0, 255);}
}   

/* all strings were styled seperately */
#string_EL {
    position: absolute;
    z-index: 2;
    left: 10%;
    transform: rotate(1deg);
    background-color: rgb(217, 214, 214);
    width: 5px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#string_A {
    position: absolute;
    z-index: 2;
    left: 14%;
    transform: rotate(0.5deg);
    background-color: rgb(217, 214, 214);
    width: 5px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#string_D {
    position: absolute;
    z-index: 2;
    left: 18%;
    transform: rotate(0.4deg);
    background-color: rgb(217, 214, 214);
    width: 4px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#string_G {
    position: absolute;
    z-index: 2;
    left: 22%;
    background-color: rgb(217, 214, 214);
    width: 4px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#string_B {
    position: absolute;
    z-index: 2;
    left: 26%;
    transform: rotate(-0.5deg);
    background-color: rgb(217, 214, 214);
    width: 3px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#string_EH {
    position: absolute;
    z-index: 2;
    left: 30%;
    transform: rotate(-0.8deg);
    background-color: rgb(217, 214, 214);
    width: 3px;
    height: 66vh;
    animation-name: strings;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* on button animation */
@keyframes on {
    0%   {background-color:rgb(217, 214, 214);}
    25%  {background-color:rgb(254, 11, 11);}
    50%  {background-color:rgb(170, 255, 1);}
    75%  {background-color:rgb(30, 0, 255);}
    100% {background-color:rgb(251, 0, 255);}
}

#on {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 80%;
    height: 25px;
    width: 25px;
    background-color: rgb(217, 214, 214);
    box-shadow: 4px 4px black;
    border-radius: 10px;
    padding: 10px;
    animation-name: on;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#on p {
    text-align: center;
    font-family: var(--headingFont2);
    font-weight: bolder;
}
/* content on right of guitar */
#main_content {
    width: 70vw;
    padding: 60px;
    margin-left: 50px;
    background-color: var(--rosewood);
}

.sub_title {
    font-family: Corbel;
    font-size: 60px;
    color: var(--shadow);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}

#about {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--bone);
}

.text {
    font-family: var(--normalFont);
    font-size: 30px;
}

#image_container {
    display: flex;
    justify-content: space-around;
}

#image_container img {
    border: 8px solid var(--sienna);
    height: 300px;
}

.video {
    height:300px;
    margin: 20px;
}

/* each card in journey section */
.card {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
    background-color: var(--sienna);
    border: 5px solid black;
    border-radius: 20px;
}

/* time line connector */
.line_connect {
    width: 20px;
    height: 150px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--bone);
}

.card:hover {
    box-shadow: 6px 6px black;
}

.side_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side_1 video{
    width: 500px;
    border-radius: 20px;
    margin: 10px;
}

.description {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: var(--headingFont2);
    font-weight: 900;;
    color: var(--bone);
    font-size: 35px;
}
/* invisible text */
.side_2{
    display: none;
    margin: 30px;
    color: var(--bone);
    text-align: center;
}

/* responsive design */
@media only screen and (max-width: 1600px) {
    #image_container {
        flex-direction: column;
        align-items: center;
    }

    #image_container img {
        margin-top: 30px;
        width: 80%;
        height: fit-content ;
    }

    .card {
        flex-direction: column;
    }

    .side_1 video {
        width: 400px;
    }
}

@media only screen and (max-width: 1400px) {
    .side_1 video {
        width: 300px;
        margin: 2px;
    }

    .text {
        font-size: 25px;
    }

    .sub_title {
        font-size: 50px;
    }

    #main_title {
        font-size: 70px;
    }
}

@media only screen and (max-width: 1000px) {
    .side_1 video {
        width: 200px;
        margin: 2px;
    }
    
    .text {
        font-size: 20px;
    }

    .sub_title {
        font-size: 40px;
    }

    #main_title {
        font-size: 60px;
    }

    #interactive_guitar {
        display: none;
    }

    #main_content {
        width: 50vw;
        margin-left: none;
    }
}